<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../Css/style.css">
<title>JEU DE FAREOUN</title>

</head>
<body>


    <div class="overlay" id="overlay">
        <div class="popup">
            <h2>Welcome to the Game!</h2>
            <p>Do you want to start the game?</p>
            <button onclick="startGame()">Start Game</button>
        </div>
    </div>





<div class="container">
    <div class="section" >
        <div class="content" id="castle-red"></div>
        <img class="castle" src="../Assets/red-castle.png" alt="">
    </div>
    <div class="section" id="section0"></div>
    <div class="section" id="section1"></div>
    <div class="section" id="section2"><lottie-player src="https://lottie.host/90d3eb9e-7ecf-421f-8d05-52b8ec8f2414/U8de73wmdc.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop  autoplay></lottie-player></div>
    <div class="section" id="section3"></div>
    <div class="section" id="section4"></div>
    <div class="section">
        <div class="content" id="castle-blue"></div>
        
        <img class="castle" src="../Assets/blue-castle.png" alt="">
    </div>
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>




<script src="../Js/Entities/Guerrier.js"></script>
<script src="../Js/Entities/Elfe.js"></script>
<script src="../Js/Entities/Nain.js"></script>
<script src="../Js/Entities/ChefElfe.js"></script>
<script src="../Js/Entities/ChefNain.js"></script>
<script src="../Js/Entities/Chateau.js" ></script>
<script src="../Js/Carreaux.js"></script>
<script src="../Js/Plateau.js"></script>
<script src="../Js/TrainingInit.js" ></script>
<script src="../Js/GameLauncher2.JS" ></script>
<script src="../Js/utilities.js" ></script>

</body>
</html>
